<style>
    .unhover:hover{
        color: black;
    }
</style>
    @functions{
        public string? renderClassActive(string action, string controller)
        {
            var actionRoute = ViewContext.RouteData.Values["Action"]?.ToString() ?? "";
            var controllerRoute = ViewContext.RouteData.Values["Controller"]?.ToString() ?? "";
            return actionRoute.Equals(action) && controllerRoute.Equals(controller) ? "active" : "";
        }
}


<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="header__top__left">
                        <p>Free shipping, 30-day return or refund guarantee.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="header__top__right">
                        <div class="header__top__links">


                            <a href="#">FAQs</a>
                        </div>
                        <div class="header__top__hover">
                            @if (User?.Identity?.IsAuthenticated == true)
                            {
                                     <span>Hi: @User.FindFirst("username")?.Value <i class="arrow_carrot-down"></i></span>
                                    <ul>
                                            <li><a asp-action='index' asp-controller="profile" class="unhover d-flex p-2 text-black disabled">Profile</a></li>
                                            <li>
                                                <form asp-action="logout" asp-controller='auth' >
                                                    <button type="submit" class="btn btn-danger">Logout</button>
                                                </form>
                                            </li>
                                    </ul>
                            }
                            else
                            {
                                    <a asp-action='login' asp-controller='auth'>Login</a>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a asp-action='index' asp-controller='Home'
                        ><img src="~/client/img/logo.png" alt=""
                    /></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li class='link-header @renderClassActive("Index", "Home")'><a asp-action='index' asp-controller='Home'>Home</a></li>
                        <li class='link-header @renderClassActive("Index", "Shop")'><a asp-action='index' asp-controller='Shop'>Shop</a></li>

                        <li class='link-header @renderClassActive("Index", "Blog")'><a asp-action='index' asp-controller='blog'>Blog</a></li>
                        <li class='link-header @renderClassActive("Index", "Contact")'><a asp-action='index' asp-controller='Contact'>Contacts</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    <a href="#" class="search-switch"
                        ><img src="~/client/img/icon/search.png" alt=""
                    /></a>
                    <a href="#"
                        ><img src="~/client/img/icon/heart.png" alt=""
                    /></a>
                    <a asp-action='index' asp-controller='cart'
                        ><img src="~/client/img/icon/cart.png" alt="" />
                        <span id="number-cards">0</span>
                    </a>
                    <div class="price" id="totalPrice_cart">$0.00</div>
                </div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>

<script>
    fetch('/cart/getcarts').then(res => res.json()).then(data => {
        console.log(data)
        document.querySelector("#number-cards").textContent = data.length;
        document.querySelector("#totalPrice_cart").textContent= "$" + [...data].reduce((total,x) => total + (x.quantity*x.product.price),0)
    }) 
</script>